{% extends 'venda/base.html' %}
{% load bootstrap4 %}

{% block title %}Histórico{% endblock %}

{% block content %}
  <h2>Histórico</h2>

  <div class="form-group">
    <form method="get">
      <input type="text" name="q" value="{{ request.GET.q }}" class="form-control">
      <button type="submit" class="btn btn-secondary form-control">Pesquisar</button>
    </form>
  </div>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for venda in vendas %}
        <tr>
          <td>{{ venda.id }}</td>
          <td>{{ venda.data }}</td>
          <td>{{ venda.descricao }}</td>
          <td>{{ venda.valor }}</td>
          <td>
            <a href="{% url 'atualizar' venda.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'deletar' venda.id %}" class="btn btn-danger">Deletar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
