{% extends 'venda/base.html' %}
{% load bootstrap4 %}

{% block title %}Histórico{% endblock %}

{% block content %}

<form method="get">
  <div class="form-group">
    <input type="text" name="q" value="{{ request.GET.q }}" class="form-control">
  </div>
  <button type="submit" class="btn btn-secondary">Pesquisar</button>
</form>
<br>

<div class="container">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for venda in vendas %}
      <tr>
        <td>{{ venda.id }}</td>
        <td>{{ venda.data }}</td>
        <td>{{ venda.descricao }}</td>
        <td>{{ venda.valor }}</td>
        <td>
          <a href="{% url 'atualizar' venda.id %}" class="btn btn-primary">Editar</a>
          <button data-toggle="modal" data-target="#excluir" class="btn btn-danger">Excluir</button>
        </td>
      </tr>

      {% include 'venda/__excluir_modal.html' %}

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
