{% extends 'venda/base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      {% for venda in vendas %}
        <tr>
          <td>{{ venda.id }}</td>
          <td>{{ venda.data }}</td>
          <td>{{ venda.descricao }}</td>
          <td>{{ venda.valor }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h2>Faça o login:</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}
